@media all and (max-width: 970px) {
  .cards-list {
    grid-template-areas:
    'bsa js js events'
    'bsa js js blog'
    'bsa js js contacts'
    'java java php php'
    'qa qa net net';
    grid-template-columns: 3fr 1fr 2fr 2fr;
    grid-template-rows: 1.5fr 1.5fr 1fr 2fr 2fr;
  }
}
