/* Basic styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.4;
  font-weight: normal;
  color: #000;
}

button {
  cursor: pointer;
}

.wrapper {
  position: relative;
  padding-top: 66px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: rgb(246, 248, 252);
}
.container {
  margin: 0 auto;
  padding: 10px 20px;
  width: 100%;
  max-width: 1320px;
  overflow: hidden;
}
.header {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  background: #fff;
  animation: slideFromTop .5s ease forwards;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo__img {
  object-fit: contain;
}
.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
.nav__item {
  margin-right: 20px;
}
.nav__item:last-child {
  margin-right: 0;
}
.notification-icon {
  padding: 0;
  width: 25px;
  height: 25px;
  border: 0;
  background: url("./assets/notify.svg");
}
.notification-icon:hover {
  background: url("./assets/notify-hover.svg");
}

.user-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1;
  color: #fff;
  border-radius: 50%;
  background: rgb(255, 143, 46);
}
#menuToggle {
  position: relative;
  z-index: 1;
  user-select: none;
}
#menuToggle a {
  text-decoration: none;
}
#menuToggle input {
  display: block;
  position: absolute;
  margin: 0;
  width: 35px;
  height: 35px;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}
#menu {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  width: 200px;
  padding: 10px 15px;
  background: #fff;
  z-index: -1;
  opacity: 0;
  transition: opacity .3s ease;
}
#menuToggle:hover .user-logo {
  background: #cc7224;
}
#menuToggle input:checked ~ #menu {
  opacity: 1;
  z-index: 1;
}

.user__title {
  margin: 0;
  padding: 0 10px 5px;
  color: rgb(143, 156, 168);
  border-bottom: 1px solid rgb(143, 156, 168);
}
.user__list {
  margin: 10px 0 0;
  padding: 0;
  list-style: none;
}
.user__link {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: #000;
}
.user__link:hover {
  background: rgba(204, 204, 204, 0.3);
}

.cards-list {
  display: grid;
  grid-template-areas:
    'bsa js php php'
    'bsa js net events'
    'qa js net events'
    'qa js net blog'
    'qa java net blog'
    'qa java net contacts';
  grid-template-columns: 2fr 2fr 3fr 1fr;
  grid-template-rows: 3fr 1fr 1fr 1fr 1fr 1fr;
  height: 100%;
}
.card {
  perspective: 1000px;
  background: transparent;
}
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
/* Custom flip effect */
.card:hover .card-inner {
  transform: rotateY(180deg);
}
.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.card-front {
  padding: 20px;
  background-color: #fff;
  color: black;
}
.card-back {
  padding: 20px;
  background-color: #fff;
  color: #000;
  transform: rotateY(180deg);
  overflow: auto;
}
.card-back p {
  margin: 0;
}
/* Binary Studio Card */
.card--bsa {
  grid-area: bsa;
}
.card--bsa .card-front,
.card--bsa .card-back {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card--bsa .btn {
  padding: 7px 20px 8px;
  min-width: 120px;
  font-size: 20px;
  color: #fff;
  background: rgb(0, 144, 249);
  border: 1px solid rgb(0, 144, 249);
  border-radius: 3px;
}
.card--bsa .btn:hover {
  background: rgb(4, 95, 161);
}
/* JS Card */
.card--js {
  grid-area: js;
}
.card--js .card-front {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background: rgb(251, 201, 103);
}
.card--js .card-back {
  text-align: left;
}
.card--js .card-title {
  font-size: 100px;
  font-weight: bold;
}
/* PHP Card */
.card--php {
  grid-area: php;
}
.card--php .card-front {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(123, 136, 181);
}
.card--php .card-back {
  text-align: left;
}
.card--php .card-title {
  font-size: 100px;
}
.card--php.card:hover .card-inner {
  transform: rotateX(-180deg);
}
.card--php .card-back {
  transform: rotateX(-180deg);
}

.card--qa {
  grid-area: qa;
}
.card--qa .card-front {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(53, 183, 112);
}
.card--qa .card-back {
  text-align: left;
}
.card--qa .card-title {
  font-size: 100px;
  color: #fff;
}
.card--qa.card:hover .card-inner {
  transform: rotate3d(1, 1, 0, 180deg);
}
.card--qa .card-back {
  transform: rotate3d(1, 1, 0, 180deg);
}

.card--java {
  grid-area: java;
}
.card--java .card-front {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(231, 39, 70);
}
.card--java .card-back {
  text-align: left;
}
.card--java .card-title {
  font-size: 50px;
  color: #fff;
}
.card--java.card:hover .card-inner {
  transform: rotate3d(1, 1, 0, 180deg);
}
.card--java .card-back {
  transform: rotate3d(1, 1, 0, 180deg);
}


.card--net {
  grid-area: net;
}
.card--net .card-front {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(92, 30, 106);
}
.card--net .card-back {
  text-align: left;
}
.card--net .card-title {
  font-size: 80px;
  color: #fff;
}
.card--net.card:hover .card-inner {
  transform: rotate3d(1, 1, 0, 180deg);
}
.card--net .card-back {
  transform: rotate3d(1, 1, 0, 180deg);
}

.card--events {
  grid-area: events;
}
.card--events .card-front {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(0, 143, 250);
}
.card--events .card-back {
  text-align: left;
}
.card--events .card-title {
  font-size: 20px;
  color: #fff;
}
.card--events.card:hover .card-inner {
  transform: rotate3d(1, 1, 0, 180deg);
}
.card--events .card-back {
  transform: rotate3d(1, 1, 0, 180deg);
}

.card--blog {
  grid-area: blog;
}
.card--blog .card-front {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(0, 59, 149);
}
.card--blog .card-back {
  text-align: left;
}
.card--blog .card-title {
  font-size: 20px;
  color: #fff;
}
.card--blog.card:hover .card-inner {
  transform: rotate3d(1, 1, 0, 180deg);
}
.card--blog .card-back {
  transform: rotate3d(1, 1, 0, 180deg);
}

.card--contacts {
  grid-area: contacts;
}
.card--contacts .card-front {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(0, 34, 82);
}
.card--contacts .card-back {
  text-align: left;
}
.card--contacts .card-title {
  font-size: 20px;
  color: #fff;
}
.card--contacts.card:hover .card-inner {
  transform: rotate3d(1, 1, 0, 180deg);
}
.card--contacts .card-back {
  transform: rotate3d(1, 1, 0, 180deg);
}

.card--dark {
  color: #000;
}
.card--light {
  color: #fff;
}
.card__img {
  height: 150px;
  object-fit: contain;
}

.content {
  position: relative;
  z-index: 5;
  flex-grow: 1;
  padding-top: 50px;
  padding-bottom: 50px;
}

.social__list {
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social__item {
  margin: 0 5px;
}
.social__link {
  display: block;
  width: 30px;
  height: 30px;
  text-decoration: none;
  background: no-repeat center / contain;
}
.social__link--fb {
  background-image: url("./assets/fb.svg");
}
.social__link--fb:hover {
  background-image: url("./assets/fb-hover.svg");
}
.social__link--tl {
  background-image: url("./assets/tl.svg");
}
.social__link--tl:hover {
  background-image: url("./assets/tl-hover.svg");
}
.social__link--in {
  background-image: url("./assets/in.svg");
}
.social__link--in:hover {
  background-image: url("./assets/in-hover.svg");
}

.notifications {
  position: fixed;
  z-index: 10;
  bottom: 50px;
  right: 50px;
  width: 100%;
  max-width: 300px;
}
.notify__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.notify__item {
  margin-bottom: 20px;
  opacity: 0.9;
}
.notify__item:last-child {
  margin-bottom: 0;
}
.notify__item--success .notify {
  background: rgb(88, 161, 97);
}
.notify__item--danger .notify {
  background: rgb(195, 73, 71);
}
.notify__item--warning .notify {
  background: rgb(255, 150, 71);
}
.notify {
  display: flex;
  align-items: center;
  padding: 20px;
  color: #fff;
  border-radius: 5px;
}
.notify img {
  width: 20px;
  object-fit: contain;
}
.notify-content {
  margin-left: 20px;
}
.notify-title {
  margin: 0;
}
.notify-desc {
  margin: 0;
}

.footer {
  padding: 20px;
}
.footer p {
  margin: 0;
  text-align: center;
}

@keyframes slideFromTop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
